
* {margin: 0; padding: 0;}

  html { 
    background:url("img/black.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

    h1 {
      text-align: center;
    }

    i {
    float: right;
    margin-right: 2%;
    color: white;
    }

    i:hover {
     color: rgb(182, 0, 0);
    }

    #language {
      margin-top: 10%;
    }

    #parag {
      font-size: 70px;
      margin-left: 8%;
      margin-top: 15%;
    }
    
    .row { 

    background-size: cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    height: 700px;
    border: solid white 1px;
    opacity: 0.9;
    }

  .row1 { 
    background-size: cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    height: 700px;
    border: solid white 1px;
    opacity: 0.9;
  }
  
  a:hover {
      color: red;
      }

  li:hover {
      background-color: yellow;
      }

    h5 {
    font: bold 24px Sans-Serif !important;
    text-transform:uppercase;
    font-size:38px;
    line-height:1;
    padding:0 0 10px 0;
    }

#f-diw {

    color: black;
    border-color: orange;

}

#f-diw:hover {

    background-image: url("img/html.png");
    background-position: center;
    background-size: cover;
    color: grey;

}

overflow {

    overflow: scroll;

}

hr {
    background-color: rgb(61, 116, 126);
    height: 2px;
    width: 100%;
    margin: auto;
}

#f-qod {
    
    color: black;
    font-family: roboto, sans-serif;
    font-size: 16px;
    border-color: blue;
    float: left;
}

#f-qod:hover {
    background-image:url("img/css.png");
    background-position: center;
    background-size: cover;
    color: darkblue;
    font-family: roboto;
}

#f-htmlipsum {
    color: black;
}
#f-htmlipsum:hover {
    background-image:url("img/js.png");
    background-position: center;
    background-size: cover;
    color: red;
}
#f-qod:hover p {
    color:#adbde3;
}

#f-bookshelf:hover {
    background-color:#ff8400;
    background-position:186px -1768px;
}

.dropbtn {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 16px;
  letter-spacing: 2px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #bb3c1f;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


